        <!-- default swiper start -->
        <section id="component-swiper-default">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Default</h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <div class="swiper-default swiper-container">
                  <div class="swiper-wrapper">
                   
                    <div class="swiper-slide"> <img class="img-fluid"
                        src="..\..\..\app-assets\images\banner\banner-1.jpg" alt="banner">
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- default swiper ends -->

        <!-- Responsive Breakpoints swiper start -->
        <section id="component-swiper-responsive-breakpoints">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">نقاط عطف واکنشگرا</h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <div class="swiper-responsive-breakpoints swiper-container">
                  <div class="swiper-wrapper">
                  
                    <div class="swiper-slide"><img class="img-fluid"
                        src="..\..\..\app-assets\images\banner\banner-30.jpg" alt="banner">
                    </div>
                
                  </div>
                  <!-- Add Pagination -->
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Responsive Breakpoints swiper ends -->